[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
bhamcal = {editable = true,path = "."}
selenium = "*"
click = "*"
beautifulsoup4 = "*"
colorama = "*"
pytz = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"

[requires]
python_version = "3.7"
